body  {
      background-color:grey;
}
h1    {
      color:green;
      font-family: verdana;
      font-size: 300%;
}
h2    {
      color:green;
      font-family: verdana;
      font-size: 200%;
}
 p    {
       color:lightblue;
       font-family: courier;
       font-size: 160%;
}      



a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
