body  {
      background-color:grey;
}
h1    {
      color:blue;
      font-family: verdana;
      font-size: 300%;
}
 p    {
       color:lightblue;
       font-family: courier;
       font-size: 160%;
       border: 1px solid black;
}      
